/* CURRENTLY IN: styles/main.css */
html, body {
	height: 100%;
	width: 100%;
	min-height: 100%;
}

#soundcloud-player .col {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#soundcloud-player .col-left {
	width: 20%;
	height: 100%;
	background-color: #292929;
	overflow: auto;

	position: fixed;
	left: 0;
	top: 0;

	min-width: 200px;
	z-index: 1;
}

#soundcloud-player .col-right {
	width: 100%;
	height: 100%;
	background-color: #022405;
	overflow: auto;

	position: fixed;
	left: 0;
	top: 0;

	box-sizing: border-box;
	padding-left: 20%;
}

#soundcloud-player .main {
	box-sizing: border-box;
	padding: 30px;
	margin: 30px;
}

#soundcloud-player .input {
	width: 100%;
}

#soundcloud-player .input-search {
	width: 100%;
	display: block;
}

#soundcloud-player .search.icon {
	pointer-events: initial;
	cursor: pointer;
	background-color: #ff4800;
	opacity: 80%;
}

#soundcloud-player .search-results {
	display: block;
	justify-content: center;
    margin-top: 30px;
}
#soundcloud-player .footer{
	border: 1px solid #33353F; /* border-t-[#33353F] translates to border-top-color */
	position: relative;
	bottom: 0; /* Position at the bottom */
  	left: 0; /* Position at the left */
  	right: 0; /* Position at the right */
	border-top-width: 1px;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	/* z-index: 10; */
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem; /* px-8 translates to padding-left and padding-right */
	padding-right: 2rem;
	color: aliceblue; /* text-white translates to color */
	font-size: 1rem; /* text-base translates to font-size */
}
